*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  outline: none;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

body{
  background: #e5e5e5;
}


.container{
  width: 100vw;
  height: 100vh;
  background: #e5e5e5;
  display: grid;
  grid-template-columns: 370px 200px 1fr; 
  grid-template-rows: 70px 40px 1fr; 
  grid-gap: 1.5rem;
}

.dashboard{
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-head{
  font-weight: bold;
  font-size: 38px;
  margin-top: 4rem;
  color: #38A956;
}

.dropdown-box{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  width: 100%;
  height: 70px;
  left: 0px;
  margin-top: 3rem;
  background: #38A956; 
}

.dropdown-box p{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 31px;
  color: #ffffff;
  padding:  .9rem 2rem;
}

.dropdown-box i{
  color: #fff;
  padding-left: 2rem;
  animation: anim 3s infinite;
}


@keyframes anim{
  0% {transform: translateY(0) }
  20%{transform: translateY(0) }
  40%{transform: translateY(-10px) }
  50%{transform: translateY(0) }
  60%{transform: translateY(-15px) }
  80%{transform: translateY(0) }
  100%{transform: translateY(0) }

}


.dropdown-list{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: flex-start;
  text-align: left;
  margin: 1.5rem 0 0 2.5rem;
}



.dropdown-list li{
  opacity: 1;
  visibility: visible;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 25px;
  padding: 1rem 0;
}

.dropdown-list.drop li{
  opacity: 0;
  visibility: hidden;
}

.dropdown-list li a{
  color: #353535;
}


.user-notice{
  grid-column: 2 /3;
  grid-row: 1/2;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-around;
}

.user-img{
  width: 39px;
  height: 39px;
  border-radius: 50%;
}

.user-notice i{
  font-size: 30px;
  color: #31AA52;
}


.search-box{
  grid-row: 1/2;
  grid-column: 3/4;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 22px;
  color: #353535;
  border-radius: 5px;
  border: none;
  margin-top: 1rem;
  position: relative;
}

input[type ='search']{
  width: 90%;
  font-size: 22px;
  color: #353535;
  padding: 1rem 1rem 0.5rem 3.2rem;
  border-radius: 5px;
  outline: none;
  border: none; 
}

.search-box i{
  position: absolute;
  top: 20px;
  left: 3%;
  font-size: 20px;
  color: #353535; 
}

.heading{
  grid-column: 2 / 3;
  grid-row: 2 /3;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  margin: 1rem;
  color: #FD9827;
}

.content-body{
  grid-column: 2 / -1;
  grid-row: 3 / 4;
  background: #FFFFFF;
  margin: 1rem 3rem 1.5rem 0;
  position: relative;
}


.api-nav ul{
  display: flex;
  font-size: 25px;
  margin-left:2rem;
  margin-top: 1rem;
}

.api-nav li{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 0rem;
  padding: .5rem;
}

.api-nav p{
  color: #353535;
  margin-right: 1rem;
  padding-left: .5rem;
}

.leads{
  color: #353535;
  padding: .5rem;
  font-size: 25px;
  margin: 1rem 0 1rem 2rem;
  font-weight: 500;
}

.error{
  display: block;
  color: #FB1C27;
  margin-left: 2rem;
  padding: .5rem;
  font-size: 12px;
}

label{
  font-size: 20px;
  color: #353535;
  margin:2rem;
  padding: .5rem;
}

input[type = 'text']{
  display: block;
  width: 90%;
  height: 58px;
  font-size:18px;
  background: #FFFFFF;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 8px;
  margin: .5rem 2rem 2rem 2rem;
  align-items: center;
  padding: .5rem 1rem;
}

button{
  display: block;
  color: #fff;
  outline: none;
  background: #FD9827;
  border: 1px solid #FD9827;
  border-radius: 9px;
  letter-spacing: 1px;
  margin-left: 2rem ;
  padding: 8px 5px; 
  width: 157px;
  height: 61px;
  font-size: 25px;
  cursor: pointer;
}

.date-stamp{
  width: 160px;
  height: 37px;
  background: rgba(249, 223, 184, 0.67);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 17%;
  top: 12%;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 2.5rem 2rem 0;
}
td, th {
  text-align: left;
  padding: .5rem;
  height: 2.5rem;
  position: relative;
  font-size: 14px;
}

tr:nth-child(even) {
  background-color: #F4F5F8;
}


.bx{
  position: absolute;
  width: 19px;
  height: 19px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.green{
  background: #00FB28;
}

.red{
  background: #FB0000;;
}


@media(max-width:1085px){
  .container{
    grid-template-columns: 200px 200px 1fr; 
    grid-template-rows: 70px 40px 1fr; 
  }
  .dashboard-head{
    font-size: 24px;
  }
  .dropdown-box p{
    font-size: 20px;
  }
  .dropdown-list li{
    font-size: 1rem;
  }
  table {
    width: 90%;
    margin: 2.5rem .5rem 0 2rem;
  }
  td, th {
    font-size: 14px;
  }
   
}

@media(max-width:1000px){
  table {
    width: 80%;
    margin: 2.5rem 1rem 0 2rem;
  }
  td, th {
    font-size: 14px;
  }
  .container{
    grid-template-columns: 200px 200px 1fr; 
    grid-template-rows: 70px 70px 1fr; 
  }

  .dashboard{
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    height: 80%;
    background-color:rgba(255, 255, 255, 0.938);
    display: flex;
    flex-direction: column;
    align-items: center;
     
    
  }

  .dashboard.drop{
    z-index: 2;
  }
  
  .dashboard-head{
    font-weight: bold;
    font-size: 18px;
    margin-top: .5rem;
    
  }
  
  .dropdown-box{
    width: 100%;
    height: 40px;
    margin-top: 1rem;
  }
  
  .dropdown-box p{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    color: #ffffff;
    padding:  .9rem 2rem;
  }
  
  .dropdown-box i{
    color: #fff;
    padding-left: 1rem;
  }
  
  
  .dropdown-list{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: flex-start;
    text-align: left;
    margin: 0.5rem 0 0 1.5rem;
  }
  
  
  
  .dropdown-list li{
    opacity: 0;
    visibility: hidden;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 16px;
    padding: 1rem 0;
  }
  
  .dropdown-list.drop li{
    opacity: 1;
    visibility: visible;
    
  }
    
  

  .user-notice{
    grid-column: 1 /2;
    grid-row: 1/2;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    margin-top: 0rem;
    justify-content: space-around;
  }

  .search-box{
    grid-row: 1/2;
    grid-column: 2/4;
    margin-top: 0;
  }

  .search-box i{
    
    top: 27px;
    left: 3%; 
  }
  
  .heading{
    grid-column: 2 / 4;
    grid-row: 2 /3;
  }
  .content-body{
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    margin: 1rem 0rem 1.5rem 0;
    position: relative;
  }
  
}

@media(max-width:650px){
  table {
    width: 100%;
    margin: 2.5rem .5rem 0;
  }
  td, th {
    font-size: 12px;
    padding: .5rem;
  }
  .heading{
    grid-column: 2 / 4;
    justify-content: center;
    margin: 0rem
  }
  .date-stamp{
    width: 90px;
    height: 30px;
    font-size: 12px;
  }  
  .api-nav ul{
    font-size: 1rem;
  }
  .content-body{
    margin: 1rem 0rem 0rem 0;
  }

  input[type = 'text']{
    width: 60%;
    height: 40px;
    font-size: 1rem;
    margin: .5rem 2rem 1.2rem 2rem;

  }
  
  button{
    
    width:  90px;
    height: 32px;
    font-size: 1rem;
    
  }
}

@media(max-width:460px){
  table {
    margin: 2.5rem 0rem 0;
  }
  td {
    font-size: 10px;
    padding: .5rem;
  }

  .search-box{
    margin-right: .5rem;
    width: 80%;
  }

  .search-box i{
    
    top: 28px;
    left: 10%; 
  }
  input[type ='search']{
    
    font-size: 1rem;
    padding: 1rem 1rem 0.5rem 3.2rem;
  }
  .heading{
    margin-top: 1rem
  }
  
  
}










